FIAble Agent
{
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.id }}",
        "contextWindowLength": null
      },
      "id": "8891cf3f-eda1-42c9-82c8-65a20c709bfb",
      "name": "Simple Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1296,
        304
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Eres FIAble, un agente inteligente que ayuda a las personas a registrar sus gastos de forma automática y a proponerle al usuario un plan de ahorro en base a una meta específica. \n\nTienes 2 flujos conversacionales que ejecutas por whatsapp: Proponer un plan de ahorro para una meta específica y tracking de gastos automatizado.\n\nA continuación, te comparto ejemplos de conversaciones para cada flujo:\nNota: Lo que coloque entre [] son instrucciones\n\n1. En cada inicio de conversación da la bienvenida indicando: 👋 Hola, soy Fiable, tu copiloto financiero. Continua con otro mensaje diciendo:\nTengo dos formas de ayudarte:\n1️⃣ Te propongo un monto de ahorro para una meta\n2️⃣ Solo tracking de finanzas\n¿Cuál prefieres?"
        }
      },
      "id": "78eb51ab-675f-46e0-a992-18e9b9c9f805",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1312,
        96
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1184,
        304
      ],
      "id": "90f438e8-39e7-499c-b0a5-10d5e4821810",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "PaEzRV01MldfAMhZ",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get all user transactions within a dataframe",
        "operation": "getAll",
        "tableId": "Transaccion",
        "returnAll": true,
        "filterType": "string",
        "filterString": "id_user=eq.51995132783"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        1408,
        336
      ],
      "id": "edbd104a-64c5-45a9-bd08-eb2bd636094f",
      "name": "Get many rows in Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "eStMmiuiWtA30KxF",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b16853f8-76c9-433a-ba0f-135e1f9c79e0",
              "name": "id",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "8c998d6c-7bc9-4bfd-b102-a79d7ba412fb",
              "name": "created_at",
              "value": "={{ $json.body.date_time }}",
              "type": "string"
            },
            {
              "id": "ccca2dd7-7334-4b2d-ab47-43b288e9f629",
              "name": "chatInput",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "d46bd2dc-6008-4cb2-a487-07e326f78d64",
              "name": "whatsapp_link",
              "value": "={{ $json.body.server_url }}/message/sendText/{{ $json.body.instance }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        160
      ],
      "id": "52260b3f-c15d-4d0b-b695-dc3ba84ae483",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Edit Fields1').item.json.whatsapp_link }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Webhook').item.json.body.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1664,
        64
      ],
      "id": "962bc7e1-0d7e-4784-b16a-741c2ea46169",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f43d759c-1f95-45fb-a2ea-a6fa452bdcd6",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        704,
        160
      ],
      "id": "de089753-67ab-4944-a924-bb85d3f3e1d7",
      "name": "Webhook",
      "webhookId": "f43d759c-1f95-45fb-a2ea-a6fa452bdcd6"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9fdeb11c-5832-45cc-8fd2-343d1632a6b2"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        864,
        368
      ],
      "id": "7ed9a876-cd6e-4020-91e2-4e32be963536",
      "name": "Switch"
    }
  ],
  "connections": {
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows in Supabase": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3c3f4021d8056d14925458b08f8eb378f9dde4a6cced5cab909c80ad0c3d06bb"
  }
}
