FIAble Agent
{
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.id }}",
        "contextWindowLength": null
      },
      "id": "921f30d1-243b-4c5b-8b38-e14a0f24cb29",
      "name": "Simple Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -368,
        240
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Eres FIAble, un agente inteligente que ayuda a las personas a registrar sus gastos de forma automática y a proponerle al usuario un plan de ahorro en base a una meta específica. \n\nTienes 2 flujos conversacionales que ejecutas por whatsapp: Proponer un plan de ahorro para una meta específica y tracking de gastos automatizado.\n\nA continuación, te comparto ejemplos de conversaciones para cada flujo:\nNota: Lo que coloque entre [] son instrucciones\n\n1. En cada inicio de conversación da la bienvenida indicando: 👋 Hola, soy Fiable, tu copiloto financiero. Continua con otro mensaje diciendo:\nTengo dos formas de ayudarte:\n1️⃣ Te propongo un monto de ahorro para una meta\n2️⃣ Solo tracking de finanzas\n¿Cuál prefieres?\n\nTermina la conversacion ahi"
        }
      },
      "id": "98769b65-a198-448e-897a-694763fdce46",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -448,
        16
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -480,
        240
      ],
      "id": "a77feda0-8928-4e49-8bb8-94d8a3e75355",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "PaEzRV01MldfAMhZ",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b16853f8-76c9-433a-ba0f-135e1f9c79e0",
              "name": "id",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "8c998d6c-7bc9-4bfd-b102-a79d7ba412fb",
              "name": "created_at",
              "value": "={{ $json.body.date_time }}",
              "type": "string"
            },
            {
              "id": "ccca2dd7-7334-4b2d-ab47-43b288e9f629",
              "name": "chatInput",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "d46bd2dc-6008-4cb2-a487-07e326f78d64",
              "name": "whatsapp_link",
              "value": "={{ $json.body.server_url }}/message/sendText/{{ $json.body.instance }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -928,
        80
      ],
      "id": "8f971ec4-e946-41af-845d-cd073615a986",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Edit Fields1').item.json.whatsapp_link }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Webhook').item.json.body.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "id": "2431c63c-3151-4d8a-b117-2db01937fca4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f43d759c-1f95-45fb-a2ea-a6fa452bdcd6",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1152,
        80
      ],
      "id": "5720b32c-adf0-4881-8e52-7dea6a58bfe2",
      "name": "Webhook",
      "webhookId": "f43d759c-1f95-45fb-a2ea-a6fa452bdcd6"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Tool to get user transactions for a given date range.",
        "operation": "getAll",
        "tableId": "Transaccion",
        "returnAll": true,
        "filterType": "string",
        "filterString": "id_user=eq.51995132783&created_at=gte.{{$today.minus({days:7}).toISO()}}&created_at=lt.{{$today.plus({days:1}).toISO()}}&order=created_at.desc"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -256,
        272
      ],
      "id": "5cb0d497-0aa3-4bf0-bae3-b0a6ef9786fc",
      "name": "Get transactions for given date range",
      "credentials": {
        "supabaseApi": {
          "id": "eStMmiuiWtA30KxF",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "path": "f07bdecf-0880-4fd2-a384-ba99eed486a5",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -720,
        64
      ],
      "id": "3351b057-ae68-4d52-84c4-965669e9dd65",
      "name": "Webhook1",
      "webhookId": "f07bdecf-0880-4fd2-a384-ba99eed486a5"
    }
  ],
  "connections": {
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get transactions for given date range": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "3c3f4021d8056d14925458b08f8eb378f9dde4a6cced5cab909c80ad0c3d06bb"
  }
}
